* {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #252423;
  margin: 0 48px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #252423;
}

.header-logo {
  background-color: #252423;
  color: #ebdbb2;
  font-size: 24px;
  margin-left: 24px;
}

.header-links {
  margin-right: 48px;
}

.header-links a {
  background-color: #252423;
  color: #a89984;
  font-size: 18px;
  margin-left: 24px;
}

.content {
  background-color: #252423;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.hero-text {
  margin-left: 64px;
}

.hero-maintext {
  background-color: #252423;
  color: #ebdbb2;
  font-size: 48px;
  font-weight: 900;
}

.hero-subtext {
  background-color: #252423;
  color: #a89984;
  font-size: 18px;
}

.hero-button {
  color: #ebdbb2;
  background-color: #83a598;
  border: 0;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 32px;
  font-weight: 800;
}

.hero-image {
  width: auto;
  height: auto;
  max-width: 640px;
  max-height: 320px;
  margin: 64px 64px 16px 16px;
  border-radius: 8px;
}

.info {
  background-color: #ebdbb2;
}

.info-maintext {
  background-color: #ebdbb2;
  color: #252423;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 64px;
}

.info-container {
  display: flex;
  margin: 0 96px;
  margin-bottom: 64px;
}

.info-imagedata {
  background-color: #ebdbb2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-imagedata img {
  max-width: 192px;
  max-height: 192px;
  border-radius: 8px;
}

.info-image-subtext {
  background-color: #ebdbb2;
  color: #32302f;
  text-align: center;
  font-weight: 300;
}

.quote,
.quote-container,
.quote-container blockquote,
.quote-container p {
  background-color: #a89984;
}

.quote-container blockquote,
.quote-container p {
  color: #252423;
}

.quote-container blockquote {
  font-size: 36px;
  font-weight: 300;
}

.quote-container p {
  text-align: right;
  margin-right: 48px;
  font-size: 24px;
  font-weight: 300;
}

.quote-container {
  margin: 96px 96px;
}

.registration {
  background-color: #ebdbb2;
}

.registration-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 96px;
  border-radius: 8px;
}

.registration-content,
.registration-content h3,
.registration-content p {
  background-color: #83a598;
}

.registration-content h3,
.registration-content p {
  color: #ebdbb2;
  margin-left: 64px;
}

.registration-button {
  color: #ebdbb2;
  background-color: #83a598;
  border: 4px solid;
  border-radius: 8px;
  padding: 16px 32px;
  margin: 4px 64px 4px 4px;
}

footer {
  background-color: #252423;
  color: #a89984;
}

footer p {
  background-color: #252423;
  text-align: center;
}
